@model N1_WebAplikazioa.ViewModels.PartidaViewModel

@{
    ViewBag.Title = "Ranking"; //tutorial baten horrela ateatze zan
    ViewData["Title"] = "Ranking";
}


<!DOCTYPE html>

<html>
<head>
    <title>Wall of fame</title>
</head>
<body>
<div>
    <h1>
        wall of
        <select id="dropdownWallType">
            <option value="fame">fame</option>
            <option value="shame">shame</option>
        </select>
        of
        <select id="dropdownGame">
            <option value="all">all games</option>
            <option value="mahi">MAHI Kingdom</option>
            <option value="2taldea">(2taldea)</option>
            <option value="pouni">Pouni</option>
            <option value="johnny">Johnny</option>
        </select>
    </h1>
</div>
<div>
    <table class="table table-striped" id="walloffame">
        <thead>
        <tr>
            <th>Pos</th>
            <th>Player</th>
            <th>Score</th>
            <th>Game</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        @try {
            int count = 1;
            foreach (var partida in Model.PartidaVMList.Take(10)) {
                <tr>
                    <td>#@count</td>
                    <td>@partida.langilea.erabiltzailea</td>
                    <td>@partida.puntuazioa</td>
                    <td>@partida.jokoIzena</td>
                    <td>@partida.data</td>
                </tr>
                count++;
            }
        }
        catch (Exception ex) {
            <p>An error occurred while retrieving the data from the REST API: @ex.Message</p>
        }
        </tbody>
    </table>
    <table class="table table-striped" id="wallofshame">
        <thead>
        <tr>
            <th>Pos</th>
            <th>Player</th>
            <th>Score</th>
            <th>Game</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        @try {
            int count = 1;
            foreach (var partida in Model.PartidaVMList.Reverse().Take(10)) {
                <tr>
                    <td>#@count</td>
                    <td>@partida.langilea.erabiltzailea</td>
                    <td>@partida.puntuazioa</td>
                    <td>@partida.jokoIzena</td>
                    <td>@partida.data</td>
                </tr>
                count++;
            }
        }
        catch (Exception ex) {
            <p>An error occurred while retrieving the data from the REST API: @ex.Message</p>
        }
        </tbody>
    </table>
</div>
</body>

<script>
    var wallOfFame = document.getElementById("walloffame");
    var wallOfShame = document.getElementById("wallofshame");
    var dropdownWallType = document.getElementById("dropdownWallType");

    wallOfShame.style.display = "none";

    dropdownWallType.addEventListener("change", function () {
        if (dropdownWallType.value === "fame") {
            wallOfFame.style.display = "inline-table";
            wallOfShame.style.display = "none";
        } else {
            wallOfFame.style.display = "none";
            wallOfShame.style.display = "inline-table";
        }
    });
    
    var dropdownGame = document.getElementById("dropdownGame");
    dropdownGame.addEventListener("change", function () {
        const selectedGame = dropdownGame.value;
    });
</script>
</html>